<section data-ng-controller="RewardsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Rewards</h1>
    </div>
    <div class="list-group">
        <div data-ng-repeat="reward in rewards"  class="list-group-item">
    			<small class="list-group-item-text">
    				Posted on
    				<span data-ng-bind="reward.created | date:'medium'"></span>
    				by
    				<span data-ng-bind="reward.user.displayName"></span>
    			</small>
    			<a data-ng-href="#!/rewards/{{reward._id}}"><h4 class="list-group-item-heading" data-ng-bind="reward.reward"></h4></a>
          <span>redeemed? <input type="checkbox" ng-disabled="reward.redeemed" ng-model="reward.redeemed" ng-click="toggleRedeem(reward)"></span>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!rewards.$resolved || rewards.length">
    	No Rewards yet, why don't you <a href="/#!/rewards/create">create one</a>?
    </div>
</section>
